<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <compilation debug="true"/>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <client>
      <endpoint address="net.pipe://localhost/Design_Time_Addresses/Codex/IPCService" binding="netNamedPipeBinding" bindingConfiguration="NamedPipeBinding_IIPC" contract="Codex.IPC.Implementation.IIPC" name="NamedPipeBinding_IIPC"/>
      <endpoint address="net.pipe://localhost/Design_Time_Addresses/Codex/IPCService" binding="netNamedPipeBinding" bindingConfiguration="NamedPipeBinding_IIPC" contract="Codex.IPC.Implementation.IIPCDuplex" name="NamedPipeBinding_IIPCDuplex">
      </endpoint>
      <endpoint address="net.tcp://localhost:64000/Design_Time_Addresses/Codex/IPCService" binding="netTcpBinding" bindingConfiguration="TCPBinding_IIPC" contract="Codex.IPC.Implementation.IIPC" name="TCPBinding_IIPC"/>
      <endpoint address="net.tcp://localhost:64000/Design_Time_Addresses/Codex/IPCService" binding="netTcpBinding" bindingConfiguration="TCPBinding_IIPC" contract="Codex.IPC.Implementation.IIPCDuplex" name="TCPBinding_IIPCDuplex">
      </endpoint>
    </client>
    <bindings>
      <netNamedPipeBinding>
        <binding name="NamedPipeBinding_IIPC" closeTimeout="00:05:00" openTimeout="00:20:00" receiveTimeout="00:20:00" sendTimeout="00:20:00" maxBufferPoolSize="50000000" maxReceivedMessageSize="50000000"/>
      </netNamedPipeBinding>
      <netTcpBinding>
        <binding name="TCPBinding_IIPC" closeTimeout="00:05:00" openTimeout="00:20:00" receiveTimeout="00:20:00" sendTimeout="00:20:00" maxBufferPoolSize="50000000" maxReceivedMessageSize="50000000"/>
      </netTcpBinding>
    </bindings>
    <services>
      <service name="Codex.IPC.Server.IPCService">
        <endpoint address="IPCService" binding="netNamedPipeBinding" bindingConfiguration="NamedPipeBinding_IIPC" contract="Codex.IPC.Implementation.IIPC"/>
        <endpoint address="IPCService" binding="netNamedPipeBinding" bindingConfiguration="NamedPipeBinding_IIPC" contract="Codex.IPC.Implementation.IIPCDuplex"/>
        <endpoint address="IPCService" binding="netTcpBinding" bindingConfiguration="TCPBinding_IIPC" contract="Codex.IPC.Implementation.IIPC"/>
        <endpoint address="IPCService" binding="netTcpBinding" bindingConfiguration="TCPBinding_IIPC" contract="Codex.IPC.Implementation.IIPCDuplex"/>
        
        <endpoint address="mex" binding="mexNamedPipeBinding" contract="IMetadataExchange"/>
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <!--<add baseAddress="net.pipe://localhost/Design_Time_Addresses/Codex" />
            <add baseAddress="net.tcp://localhost:64000/Design_Time_Addresses/Codex" />
            -->
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="False" httpsGetEnabled="False"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="consoleListener" type="System.Diagnostics.ConsoleTraceListener"/>
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
